@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

:root {
	--dark: rgb(58, 58, 58);
	--darker: rgb(31, 31, 31);
	--light: rgb(220, 220, 220);
	--lighter: rgb(243, 243, 243);
	--orange: rgb(255, 225, 95);
	--green: rgb(82, 221, 152);
	/* --orange: rgb(160, 77, 0);
	--green: rgb(0, 117, 59); */
}
* {
	touch-action: manipulation;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	transition: 0.5s;
	background-color: var(--lighter);
	color: var(--darker);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 5vh;
	width: 100vw;
	background-color: var(--light);
	color: var(--dark);
	z-index: 100;
}

.icon {
	height: 3vh;
	width: 3vh;
	stroke: var(--darker);
	transition: 0.5s;
}

.navcontent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 800px;
	/* margin: 0 20vw; */
	font-size: 3vh;
}

.icon-nav {
	height: 3vh;
	width: 3vh;
	margin: 0 5rem;
}

.icon:hover {
	cursor: pointer;
}

.grid {
	margin-top: 4vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.2vw;
	width: 80vw;
	height: 50vh;
	max-width: 350px;
}

.grid-element {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	background-color: var(--lighter);
	border: solid 2px var(--light);
	transition: 1s;
	line-height: 0;
	max-height: 6vh;
	max-width: 6vh;
}

.active {
	transform: scale(1.05);
}

.winstreak {
	margin-top: 2vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.winnumber {
	font-size: larger;
	margin: 0;
	font-size: 1.7vh;
}

.input {
	margin-top: 2vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 0.5vw;
	height: 30vh;
	width: 95vw;
	max-width: 600px;
}

.grid-key {
	background-color: var(--light);
	border-radius: 10%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 2vh;
	transition: 1s;
}

.blank {
	visibility: hidden;
}

.grid-key:hover {
	cursor: pointer;
}

.displayable {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
	color: white;
}

.justlost {
	background-color: rgb(107, 49, 76);
	visibility: visible;
	opacity: 0.95;
}

.infodisplay {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: rgb(0, 0, 0);
	padding: 10px 40px;
	top: 10vh;
	width: 80vw;
	max-width: 600px;
	margin: auto;
	height: 82vh;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	visibility: hidden;
	font-weight: 300;
	font-size: 1.8vh;
	z-index: 100;
}

.infodisplay p {
	margin: 1vh;
	line-height: 2.6vh;
}

.infodisplay.active {
	visibility: visible;
}

img {
	width: 100%;
	margin: 0.5vh;
}

.usernamescreen {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	padding: 10px 40px;
	top: 6vh;
	width: 80vw;
	max-width: 600px;
	margin: auto;
	height: 88vh;
	background-color: white;
	border-radius: 5px;
	font-weight: 300;
	font-size: 1.8vh;
}

.usernamecontent {
	display: flex;
}

/* .icon-tabler-x {
	position: absolute;
	width: 2.5vw;
	height: 2.5vh;
	stroke: black;
	top: 37vh;
	left: 47vw;
} */

.icon-tabler-x:hover {
	cursor: pointer;
}

.icon-tabler-arrow-right {
	width: 4vw;
	height: 4vh;
	stroke: black;
}

.icon-tabler-arrow-right:hover {
	cursor: pointer;
}

.usernamescreen p {
	font-weight: 500;
}

.usernamesubmit {
	height: 3vh;
	width: 70vw;
	max-width: 250px;
	font-size: 2vh;
	border: solid 2px black;
	margin-bottom: 2vh;
	display: flex;
	text-align: center;
	margin-left: 4vw;
	border-radius: 15px;
}

.usernamescreen.active {
	visibility: hidden;
}
