@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

:root {
	/* --dark: rgb(58, 58, 58);
	--darker: rgb(31, 31, 31);
	--light: rgb(220, 220, 220);
	--lighter: rgb(243, 243, 243);
	--orange: rgb(255, 225, 95);
	--green: rgb(82, 221, 152); */
	--light: rgb(58, 58, 58);
	--lighter: rgb(31, 31, 31);
	--dark: rgb(220, 220, 220);
	--darker: rgb(243, 243, 243);
	--orange: rgb(255, 225, 95);
	--green: rgb(82, 221, 152);
	/* --orange: rgb(160, 77, 0);
	--green: rgb(0, 117, 59); */
}
* {
	touch-action: manipulation;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
	transition: 0.5s;
	background-color: var(--lighter);
	color: var(--darker);
	overflow: hidden;
	margin: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 8vh;
	width: 100vw;
	background-color: var(--light);
	color: var(--dark);
	z-index: 100;
}

.title {
	width: 40vw;
	font-size: 1.3rem;
	display: flex;
	text-align: center;
	justify-content: center;
}

.title:hover {
	cursor: pointer;
}

.icon {
	height: 3vh;
	width: 4vh;
	stroke: var(--darker);
	transition: 0.5s;
}

.navcontent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
	max-width: 400px;
	/* margin: 0 20vw; */
	font-size: 3vh;
}

.left {
	display: flex;
	align-items: center;
	justify-content: right;
	width: 5vw;
	/* margin-right: 5vw; */
}

.right {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 10vw;
}

.icon:hover {
	cursor: pointer;
}

.grid {
	margin-top: 4vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.2vw;
	width: 90vh;
	max-width: 300px;
	height: 50vh;
}

.grid-element {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	background-color: var(--lighter);
	border: solid 2px var(--light);
	transition: 1s;
	line-height: 0;
	max-height: 6vh;
	max-width: 6vh;
}

.active {
	transform: scale(1.05);
}

.winstreak {
	margin-top: 2vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.winnumber {
	font-size: larger;
	margin: 0;
	font-size: 1.7vh;
}

.input {
	margin-top: 2vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 0.5vw;
	height: 30vh;
	width: 95vw;
	max-width: 450px;
}

.grid-key {
	background-color: var(--light);
	border-radius: 10%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 2vh;
	transition: 1s;
}

.blank {
	visibility: hidden;
}

.grid-key:hover {
	cursor: pointer;
}

.displayable {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
	color: white;
}

.justlost {
	background-color: rgb(107, 49, 76);
	visibility: visible;
	opacity: 1;
}

.newrecord {
	background-color: rgb(49, 107, 73);
	visibility: visible;
	opacity: 1;
}

.infodisplay {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: var(--light);
	padding: 10vh 50vw 40vh 50vw;
	top: 10vh;
	width: 80vw;
	max-width: 400px;
	margin: auto;
	height: 55vh;
	background-color: var(--lighter);
	border-radius: 5px;
	visibility: hidden;
	font-weight: 500;
	font-size: 1.4vh;
	z-index: 100;
}

@media (min-width: 400px) {
	.infodisplay {
		font-size: 1.5vh;
	}
}

@media (min-width: 600px) {
	.infodisplay {
		font-size: 1.6vh;
	}
}

.infodisplay p {
	margin: 0.8vh;
	line-height: 2vh;
	color: var(--darker);
}

.infodisplay.active {
	visibility: visible;
}

img {
	width: 50vw;
	max-width: 400px;
	margin: 0.5vh;
}

.usernamescreen {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--darker);
	top: 0;
	width: 100vw;
	margin: auto;
	height: 100vh;
	background-color: var(--lighter);
	font-weight: 300;
	font-size: 1.8vh;
}

.usernamecontent {
	display: flex;
	align-items: center;
}

.icon-tabler-arrow-right {
	height: 3vh;
	width: 5vh;
	stroke: var(--darker);
}

.icon-tabler-arrow-right:hover {
	cursor: pointer;
}

.usernamescreen p {
	font-weight: 500;
}

.usernamesubmit {
	height: 3vh;
	font-size: 2vh;
	border: solid 2px var(--dark);
	display: flex;
	text-align: center;
	border-radius: 15px;
	margin-left: 2vw;
}

.usernamescreen.active {
	visibility: hidden;
}

.leaderboarddisplay {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 10vh;
	background-color: var(--lighter);
	width: 100vw;
	height: 50vh;
	z-index: 100;
	/* visibility: hidden; */
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10vh 50vw 40vh 50vw;
}

.leaderboarddisplay.active {
	visibility: hidden;
}

.leaderboard {
	width: 95vw;
	height: 50vh;
	padding: 1vw 5vh;
	background-color: var(--dark);
	max-width: 400px;
	border-radius: 20px;
}

.scoreelement {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: var(--lighter);
	margin: 2vh;
	font-size: 1.8vh;
}

.headerrow {
	text-transform: uppercase;
	font-size: 1.8vh;
	margin-bottom: 3vh;
}

.closeicon {
	font-size: 2.5vh;
}

.closeicon:hover {
	cursor: pointer;
}

.closeiconinfo {
	display: flex;
	justify-content: right;
	font-size: 2.5vh;
}

.closeiconinfo:hover {
	cursor: pointer;
}
